body{
    margin: 0;
    overflow: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black 1px;
    align-items: center;
    background-color: azure;
    position: fixed;
    width: 100%;
    opacity: 75%;
    z-index: 99;
}
.navContent{
    margin-bottom: 15px;
    font-size: 2em;
}
#navLogo{
    margin-left: 25px;
    height: 100px;
    width: auto;
}
#contact{
    margin-right: 5%;
}
#frontImage{
    max-height: auto;
    max-width: 100%;
    position: absolute;
    overflow: hidden;
}
#slogan{
    font-size: 4em;
    z-index: 1;
    position: absolute;
    direction: rtl;
    left:70%;
    top:25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}