body{
    margin: 0;
    background-color: cornsilk;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    position: fixed;
    width: 100%;
    z-index: 0;
}
.navContent{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
    text-decoration: none;
    color: rgb(14, 19, 115);
}
.navContent:hover{
    text-decoration: underline;
    transform: scale(1.1);
}
#navLogo{
    margin-left: 25px;
    height: 100px;
    width: auto;
}
#contact{
    margin-right: 5%;
}
#frontImage{
    max-height: auto;
    max-width: 100%;
    overflow: hidden;
    z-index: -1;
    margin-top: 8%;
}
#content{
    margin: 0 10% 0 10%;
    z-index: 0;
}
.text{
    font-size: 1.8em;
}
.border{
    padding-bottom: 50px;
    border-bottom: solid black 2px;
}
.headLine{
    font-size: 3em;
    text-decoration: underline;
}
.img{
    height: 200px;
    margin-right: 200px;
    width: auto;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.resizeImg{
    height: 200px;
    width: auto;
}
#toTop{ 
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 75%;
}
#toTop:hover{
    background-color: #660000;
    opacity: 100%;
}
